<html>
<body>
<h1 style="color: orange"><center>Hola a todos los que esten viendo esta plantilla</center></style></h1>
    <!--para rescatar valor de contexto en un parrafo-->
    <p><h3>El nombre del profesor es:{{nombre_persona}}</h3> </p><!--se lama en doble llave el nombre de clave dentro del diccionario-->

    <p><h3>El apellido del estudiante es: {{apellido_persona.upper}}</h3></p>
     <!--aca vamos a utilizar el metodo upper para utilizar las mayusculas-->


    <p><h3>La hora y la fecha actual es: {{hora_actual}}</h3></p>
    <!--para colocar tildes o acentos--><p><h3>día o d&iacute;a</h3></p>
    <p><h3>El dia es: {{hora_actual.day}}</h3></p><!--para acceder a las propiedades del objeto-->
    <!--aca se accede solo al dia  que es una (propiedad) -->
    <p><h3>El dia es: {{hora_actual.day}}/{{hora_actual.month}}/{{hora_actual.year}} </h3></p>
    <!--acceder a dia mes y año  separado cada uno por la barra inclinada--> 
    <p><h3>El nombre del profesor es:{{Nombreclas}}/{{Apellidoclas}}</h3> </p>
    <p><h3>Temas a tratar:{{temas.0}}, {{temas.1}}.</h3> </p><!--despues del punto se puede llamar con la posicion del elemento-->
    <!--ejemplo-->
    <p><h3>Temas a tratar:{{temas.2}}, {{temas.3}}, {{temas.4}}.</h3> </p>
    <p><strong>Temas del curso: </strong></p>
    <!--si se copean en orden de lista es una forma poco convencional y no recomendada-->
    <!--ya que genera mucho codigo html-->
    <!--la mejor opcion es recorrer todos los elementos de la lista con un bucle for-->
    <p>
        <ul><!--lista no ordenada de li-->
        {% for elTema in temas%}<!--la sintaxis del del bucle con apertura y cierre-->

            <!--{{elTema}}--><!--al recorrer el bucle cada vielta imprime la lista  -->
            <!--para que los imprima de manera ordenada-->
            <li>{{elTema}}</li> <!--li elementos de lista-->

        {% endfor %}
        </ul>

        <!--constuir estructura condicional para que en caso de que la lista
        este vacia mustre un mensaje-->

        <ul>
    </p>
    <p><strong>Temas del curso: </strong>con lista vacia y condicional </p>
    <p>     
        <ul>   

        {% if temas2 %}<!--si la lista contiene informacion-->
            {% for elTema in temas%}
    
               
                <li>{{elTema}}</li> 
    
            {% endfor %}
         {% else %}<!--en caso de que no muestra el mensaje-->
            <P>no hay elementos en la lista o la lista esta vacia</P>
        
        {% endif %}

        </ul>
        <!--se pueden agregar for anidados e if anidados en ciclos y condicionales -->

    </p>


</body>
</html>